In [216]:
import pandas as pd
import numpy as np

In [217]:
csv = pd.read_excel("ne.xlsx",sheet_name='NE')

In [218]:
csv

,Part_Number,Description,Appl_Code,LLP_Non_LLP,Vendor,Condition,Dt,Qty,Sale
0,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-11,1,0
1,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-12,1,0
2,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-13,1,0
3,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-14,1,0
4,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-15,1,0
...,...,...,...,...,...,...,...,...,...
158636,10-631045-2,IGNITION EXCITER,CFM56-7,Non-LLP,MITCHELL AIRCRAFT SPARES.,NE,2020-05-15,1,0
158637,10-631045-2,IGNITION EXCITER,CFM56-7,Non-LLP,MITCHELL AIRCRAFT SPARES.,NE,2020-05-16,1,0
158638,10-631045-2,IGNITION EXCITER,CFM56-7,Non-LLP,MITCHELL AIRCRAFT SPARES.,NE,2020-05-17,1,0
158639,10-631045-2,IGNITION EXCITER,CFM56-7,Non-LLP,MITCHELL AIRCRAFT SPARES.,NE,2020-05-18,1,0
158640,10-631045-2,IGNITION EXCITER,CFM56-7,Non-LLP,MITCHELL AIRCRAFT SPARES.,NE,2020-05-19,1,0

In [219]:
#csv.sort_values(['Part_Number','Vendor'],inplace=True)

In [220]:
csv[['Part_Number','Vendor']]

        Part_Number                     Vendor
0        10-62167-2  KILLICK AEROSPACE LIMITED
1        10-62167-2  KILLICK AEROSPACE LIMITED
2        10-62167-2  KILLICK AEROSPACE LIMITED
3        10-62167-2  KILLICK AEROSPACE LIMITED
4        10-62167-2  KILLICK AEROSPACE LIMITED
...             ...                        ...
158636  10-631045-2  MITCHELL AIRCRAFT SPARES.
158637  10-631045-2  MITCHELL AIRCRAFT SPARES.
158638  10-631045-2  MITCHELL AIRCRAFT SPARES.
158639  10-631045-2  MITCHELL AIRCRAFT SPARES.
158640  10-631045-2  MITCHELL AIRCRAFT SPARES.

[158641 rows x 2 columns]

In [221]:
fn = pd.DataFrame()
neww = []
for x in range(csv.shape[0]):
    neww.append(str(csv['Part_Number'][x])+str(csv['Vendor'][x]))

In [222]:
fn = pd.DataFrame(neww,columns=['value'])

In [223]:
unique = list(fn['value'].unique())

In [224]:
unique[0:20]

['10-62167-2KILLICK AEROSPACE LIMITED',
 '1062167-2KILLICK AEROSPACE LIMITED',
 '10-631045-2AEROSPACE ACCESS CORPORATION',
 '10-631045-2AVIATION EQUIPMENT SOLUTIONS',
 '10-631045-2AVIATOR SOLUTIONS LTD',
 '10-631045-2FACTORY DIREKT',
 '10-631045-2IAG MATERIALS',
 '10-631045-2IKEZ AVIATION & CONSULTING LLC',
 '10-631045-2INITIAL ELECTRONICS',
 '10-631045-2JW AVIATION',
 '10-631045-2MITCHELL AIRCRAFT SPARES.',
 '10-631045-2PRODUCTION COMPANY',
 '10-631045-2STS COMPONENT SOLUTIONS LLC',
 '10-631045-2TRANS-AERO FZE.',
 '10-631045-2UNICAL AVIATION INC',
 '10-631045-2UNIQUIP PLUS, INC.""',
 '10-631045-2VISION AERONAUTICS',
 '107484-7GA TELESIS LLC',
 '107484-7VC DISPLAYS INC',
 '107492-2GOLDEN FALCON AVIATION']

In [225]:
csv.head()

,Part_Number,Description,Appl_Code,LLP_Non_LLP,Vendor,Condition,Dt,Qty,Sale
0,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-11,1,0
1,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-12,1,0
2,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-13,1,0
3,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-14,1,0
4,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-15,1,0

In [226]:
unique[0:20]

['10-62167-2KILLICK AEROSPACE LIMITED',
 '1062167-2KILLICK AEROSPACE LIMITED',
 '10-631045-2AEROSPACE ACCESS CORPORATION',
 '10-631045-2AVIATION EQUIPMENT SOLUTIONS',
 '10-631045-2AVIATOR SOLUTIONS LTD',
 '10-631045-2FACTORY DIREKT',
 '10-631045-2IAG MATERIALS',
 '10-631045-2IKEZ AVIATION & CONSULTING LLC',
 '10-631045-2INITIAL ELECTRONICS',
 '10-631045-2JW AVIATION',
 '10-631045-2MITCHELL AIRCRAFT SPARES.',
 '10-631045-2PRODUCTION COMPANY',
 '10-631045-2STS COMPONENT SOLUTIONS LLC',
 '10-631045-2TRANS-AERO FZE.',
 '10-631045-2UNICAL AVIATION INC',
 '10-631045-2UNIQUIP PLUS, INC.""',
 '10-631045-2VISION AERONAUTICS',
 '107484-7GA TELESIS LLC',
 '107484-7VC DISPLAYS INC',
 '107492-2GOLDEN FALCON AVIATION']

In [227]:
vendor_list= list(csv['Vendor'].unique())

In [228]:
vendor_list[0:10]

['KILLICK AEROSPACE LIMITED',
 'AEROSPACE ACCESS CORPORATION',
 'AVIATION EQUIPMENT SOLUTIONS',
 'AVIATOR SOLUTIONS LTD',
 'FACTORY DIREKT',
 'IAG MATERIALS',
 'IKEZ AVIATION & CONSULTING LLC',
 'INITIAL ELECTRONICS',
 'JW AVIATION',
 'MITCHELL AIRCRAFT SPARES.']

In [229]:
uniq_df = pd.DataFrame()
val1_ = []
val2_ = []
for val in unique:
    for v_val in vendor_list:
        nn = val.find(v_val)
        if nn!=-1:
            break
        else:
            pass
    val1_.append(val[:nn])
    val2_.append(val[nn:])
uniq_df['number'] = val1_
uniq_df['Vendor'] = val2_

In [230]:
uniq_df.to_csv("Value_new.csv")

In [231]:
uniq_df.head()

        number                        Vendor
0   10-62167-2     KILLICK AEROSPACE LIMITED
1    1062167-2     KILLICK AEROSPACE LIMITED
2  10-631045-2  AEROSPACE ACCESS CORPORATION
3  10-631045-2  AVIATION EQUIPMENT SOLUTIONS
4  10-631045-2         AVIATOR SOLUTIONS LTD

In [232]:
#dct = dict(zip(uniq_df['number'],uniq_df['Vendor']))

In [233]:
uniq_df_num = uniq_df['number'].unique()
#uniq_df_num

In [234]:
new_df_list = []
new_dff = pd.DataFrame()
for num in uniq_df_num:
    tmp1 = list(uniq_df.loc[uniq_df['number']==num]['Vendor'])
    new_df_list.append(tmp1)
new_dff['Number'] = uniq_df_num
new_dff['Imp'] = new_df_list

In [235]:
new_dff.head()

        Number                                                Imp
0   10-62167-2                        [KILLICK AEROSPACE LIMITED]
1    1062167-2                        [KILLICK AEROSPACE LIMITED]
2  10-631045-2  [AEROSPACE ACCESS CORPORATION, AVIATION EQUIPM...
3     107484-7                  [GA TELESIS LLC, VC DISPLAYS INC]
4     107492-2                           [GOLDEN FALCON AVIATION]

In [236]:
#new_dff['Imp']

In [237]:
new_dff_dict = dict(zip(new_dff['Number'],new_dff['Imp']))

In [238]:
#csv.loc[(csv['Vendor']=="ITS") & (csv['Part_Number']=='472583')]

In [239]:
csv['Part_Number'] = csv['Part_Number'].astype(str)

In [240]:
keys = list(new_dff_dict.keys())
values = list(new_dff_dict.values())

In [241]:
#new_dff_dict['472583']

In [242]:
#csv.loc[(csv['Part_Number']=='472583') &  (csv['Vendor']=='ITS')]

In [243]:
final_miss_df = pd.DataFrame()
for key in new_dff_dict.keys():
    tmp_ls = list(new_dff_dict[key])
    l_tmp_ls = len(tmp_ls)
    for vendor in tmp_ls:
        cnt = len(csv.loc[(csv['Part_Number']==key) &  (csv['Vendor']==vendor),'Dt'])
        if cnt < 100:
            #print(cnt)
            #print("Less than 100 found for: "+str(key)+str(" ")+str(vendor))
            final_miss_df = final_miss_df.append(csv.loc[(csv['Part_Number']==key) &  (csv['Vendor']==vendor)])

In [244]:
#sdfghjkl

In [245]:
try:
    #final_miss_df.reset_index(inplace=True)
    #final_miss_df.drop('index',axis=1,inplace=True)
    #final_miss_df.drop('level_0',axis=1,inplace=True)
    pass
except:
    pass

In [246]:
#csv['Part_Number'].index[626]

In [247]:
final_miss_df.head()

,Part_Number,Description,Appl_Code,LLP_Non_LLP,Vendor,Condition,Dt,Qty,Sale
626,10-631045-2,IGNITION EXCITER,CFM56-7,Non-LLP,MITCHELL AIRCRAFT SPARES.,NE,2020-02-19,1,0
627,10-631045-2,IGNITION EXCITER,CFM56-7,Non-LLP,MITCHELL AIRCRAFT SPARES.,NE,2020-02-20,1,0
628,10-631045-2,IGNITION EXCITER,CFM56-7,Non-LLP,MITCHELL AIRCRAFT SPARES.,NE,2020-02-21,1,0
629,10-631045-2,IGNITION EXCITER,CFM56-7,Non-LLP,MITCHELL AIRCRAFT SPARES.,NE,2020-02-22,1,0
630,10-631045-2,IGNITION EXCITER,CFM56-7,Non-LLP,MITCHELL AIRCRAFT SPARES.,NE,2020-02-23,1,0

In [248]:
import time
import datetime

In [249]:
start_date = '2020-02-11' ; end_date = '2020-05-20'

In [250]:
dt_str1 = start_date
start_date  = datetime.datetime.strptime(dt_str1,"%Y-%m-%d")
dt_str2 = end_date
end_date = datetime.datetime.strptime(dt_str2,"%Y-%m-%d")

In [251]:
print(start_date),print(end_date)

2020-02-11 00:00:00
2020-05-20 00:00:00

(None, None)

In [252]:
csv.head()

,Part_Number,Description,Appl_Code,LLP_Non_LLP,Vendor,Condition,Dt,Qty,Sale
0,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-11,1,0
1,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-12,1,0
2,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-13,1,0
3,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-14,1,0
4,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-15,1,0

In [253]:
csv = pd.concat([csv, final_miss_df, final_miss_df]).drop_duplicates(keep=False)

In [254]:
csv.head() #new dataframe without the missing values, here all values have 100 Entries!

,Part_Number,Description,Appl_Code,LLP_Non_LLP,Vendor,Condition,Dt,Qty,Sale
0,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-11,1,0
1,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-12,1,0
2,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-13,1,0
3,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-14,1,0
4,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-15,1,0

In [255]:
to_attach = pd.DataFrame()

In [256]:
try:
    final_miss_df.reset_index(inplace=True)
    final_miss_df.drop('index',axis=1,inplace=True)
    final_miss_df.drop('level_0',axis=1,inplace=True)
except:
    pass

In [257]:
final_miss_df.head()

,Part_Number,Description,Appl_Code,LLP_Non_LLP,Vendor,Condition,Dt,Qty,Sale
0,10-631045-2,IGNITION EXCITER,CFM56-7,Non-LLP,MITCHELL AIRCRAFT SPARES.,NE,2020-02-19,1,0
1,10-631045-2,IGNITION EXCITER,CFM56-7,Non-LLP,MITCHELL AIRCRAFT SPARES.,NE,2020-02-20,1,0
2,10-631045-2,IGNITION EXCITER,CFM56-7,Non-LLP,MITCHELL AIRCRAFT SPARES.,NE,2020-02-21,1,0
3,10-631045-2,IGNITION EXCITER,CFM56-7,Non-LLP,MITCHELL AIRCRAFT SPARES.,NE,2020-02-22,1,0
4,10-631045-2,IGNITION EXCITER,CFM56-7,Non-LLP,MITCHELL AIRCRAFT SPARES.,NE,2020-02-23,1,0

In [258]:
final_miss_df[['Part_Number','Vendor']].drop_duplicates()

       Part_Number                        Vendor
0      10-631045-2     MITCHELL AIRCRAFT SPARES.
91        107484-7                GA TELESIS LLC
120       107492-6              CCI AERO, INC.""
152       107492-6   HONEYWELL AEROSPACE TRADING
167    1211175-011                   AVTRADE LTD
...            ...                           ...
21213      P338P15     TURBOJET PARTNERS, INC.""
21289      P338P16     TURBOJET PARTNERS, INC.""
21365     TC174-00  BROOKS & MALDINI CORPORATION
21426     TC174-01                   GMDC, INC""
21460     TC200-00           IAERO THRUST, LLC""

[289 rows x 2 columns]

In [259]:
#len(final_miss_df['Part_Number'].unique())

In [260]:
tmp = final_miss_df.drop_duplicates(subset=['Part_Number','Vendor'])

In [261]:
uniq_df_num_miss = tmp['Part_Number'].unique()

In [262]:
new_df_miss_list = []
new_dff_miss = pd.DataFrame()
for num in uniq_df_num_miss:
    tmp1 = list(tmp.loc[tmp['Part_Number']==num]['Vendor'])
    new_df_miss_list.append(tmp1)
new_dff_miss['Part_Number'] = uniq_df_num_miss
new_dff_miss['Imp'] = new_df_miss_list

In [263]:
new_dff_miss.head()

   Part_Number                                                Imp
0  10-631045-2                        [MITCHELL AIRCRAFT SPARES.]
1     107484-7                                   [GA TELESIS LLC]
2     107492-6    [CCI AERO, INC."", HONEYWELL AEROSPACE TRADING]
3  1211175-011   [AVTRADE LTD, JORDAN AIRMOTIVE LIMITED COMPANY.]
4     121762-4  [AEROSPACE ASSET TRADING, LLC"", AEROTECHNIC A...

In [264]:
new_miss_dict = dict(zip(new_dff_miss['Part_Number'],new_dff_miss['Imp']))

In [265]:
#new_miss_dict.keys()

In [266]:
for key in new_miss_dict.keys():
    tmp_ls = new_miss_dict[key]
    l_tmp_ls = len(tmp_ls)
    for vendor in tmp_ls:
        tmp_df = final_miss_df.loc[(final_miss_df['Vendor']==vendor) &(final_miss_df['Part_Number']==key)]
        tmp_df.reset_index(inplace=True)
        diff_num = 100 - tmp_df.shape[0]
        new_dfm = pd.DataFrame(tmp_df.loc[0]).T
        cpy_df = new_dfm
        for i in range(diff_num-1):
            new_dfm = pd.concat([new_dfm,cpy_df])
        tmp_df = pd.concat([tmp_df,new_dfm])
        tmp_df.drop('Dt',axis=1,inplace=True)
        diff = end_date - start_date
        new_tmp_dt = []
        for i in range(diff.days + 1):
            new_tmp_dt.append((start_date + datetime.timedelta(i)))
        tmp_df['Dt'] = new_tmp_dt
        to_attach = pd.concat([to_attach,tmp_df])

In [267]:
try:
    to_attach.drop('index',axis=1,inplace=True)
except:
    pass

In [268]:
to_attach = to_attach[['Part_Number','Description','Appl_Code','LLP_Non_LLP','Vendor','Condition','Dt','Qty','Sale']]

In [269]:
to_attach.shape

(28900, 9)

In [270]:
try:
    to_attach.drop(['Sale'],axis=1,inplace=True)
except:
    pass

In [271]:
to_attach['Sale'] = [0 for x in range(to_attach.shape[0])]

In [272]:
#to_attach.loc[to_attach['Sale']!=0]

In [273]:
csv = pd.concat([csv,to_attach])

In [274]:
csv.head()

,Part_Number,Description,Appl_Code,LLP_Non_LLP,Vendor,Condition,Dt,Qty,Sale
0,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-11,1,0
1,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-12,1,0
2,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-13,1,0
3,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-14,1,0
4,10-62167-2,HYDRAULIC PUMP,CFM56-7,Non-LLP,KILLICK AEROSPACE LIMITED,NE,2020-02-15,1,0

In [275]:
#csv.to_csv("Stock.csv")

In [276]:
csv.shape

(166000, 9)